/*
General CSS for the demos of DHTMLSuite
*/
body{
	font-family: Trebuchet MS, Lucida Sans Unicode, Arial, sans-serif;
	font-size:0.8em;
}

a{
	color:red;
	text-decoration:underline;
}

pre{
	color:red;
}
h2{
	font-size:1.2em;
	}